body {
	align-items: auto;
	margin: 0 auto;
	height: 100vh;
	width: 100vw;
	background-color: #c8cec0;
  }

h1, p {
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 10px;
  }

p {
	font-size: large;
}

table {
	width: fit-content;
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 10px;
}
.row {
	font-size: 12px;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
  
img {
	width: 70vw;
	height: 70vh;	
}

.theform {
	display: inline-block;
	margin: 10px;
	justify-content: center;
}

.theformimg {
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
	margin: 20px;
}

label, input, select {
	margin: 10px;
	font-size: medium;
}


.row {
	border: 1px solid black;
}

.result {
	display: flexbox;
	font-size: larger;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}


